
cmake-build-*/
release/
build/
Debug/
x64/


*.exe
*.dll
*.so
*.dylib


.idea/
.vscode/
.vs/
*.user
*.sln.user


*.pch
*.ipch
*.obj
*.pdb
*.log
*.tmp


Thumbs.db
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes


*.temp
*.bak
*.swp
*~